opencv-python==3.4.11.41
opencv-contrib-python-headless==3.4.11.41
pillow==8.1.2
tqdm==4.59.0
celery==5.0.5
numpy==1.20.1
scipy==1.5.2
bezier==2021.2.12
gunicorn==20.0.4
python-multipart==0.0.5
fastapi==0.61.1
fastapi-utils==0.2.1
orjson==3.4.3
uvicorn==0.11.3
minio==7.0.2
msgpack==1.0.2
msgpack-numpy==0.4.7.1
requests==2.25.1
nvidia-pyindex>=1.0.5
grpcio==1.36.1
protobuf==3.15.6
tritonclient==2.6.0
pyclipper==1.2.1
shapely==1.7.1
scikit-learn==0.24.1
scikit-image==0.18.1
pymilvus==1.0.1
cos-python-sdk-v5==1.9.0