opencv-python==3.4.11.41
pillow==6.2.2
tqdm==4.59.0
celery==5.0.5
numpy==1.20.1
scipy==1.5.2
bezier==2021.2.12
gunicorn==20.0.4
python-multipart==0.0.5
fastapi==0.61.1
fastapi-utils==0.2.1
orjson==3.4.3
uvicorn==0.11.3
minio==7.0.2
msgpack==1.0.2
msgpack-numpy==0.4.7.1
requests==2.25.1
pyclipper==1.2.1
shapely==1.7.1